.navbar-brand {
  color: #FFFFFF !important;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px #00000080;
}

.my-right-nav-link {
  color: #FFFFFF !important;
  font-size: 0;
  text-shadow: 2px 2px 2px #00000080;
}

.navbar {
  min-height: 64px;
  margin-bottom: 0px;
  border-bottom: 5px solid #000000;
}

.scrolled {
  opacity: 0.9 !important;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle:focus {
  background-color: #6a6a6a !important;
}

.navbar-toggle:hover {
  background-color: #6a6a6a !important;
}

.my-nav-link, .dropdown-toggle, .navbar-toggle{
  color: #FFFFFF !important;
  font-size: 1em;
  text-shadow: 2px 1px 1px #00000080;
}

.hover-link:hover, .activeBorder, .current-page {
  border-top: 3px solid #FFFFFF;
  color: #FFFFFF;
  padding-top: 3px;
}

.my-dropdown-nav-link {
  color: #FFFFFF !important;
}

.my-dropdown-nav-link:hover {
  background-color: transparent !important;
  padding: 5px;
  text-align: left;
}

.dropdown-menu {
  background-color: #6a6a6a !important;
  opacity: 0.9;
}

.divider {
  border: 1px solid #000000;
}

.small-icon {
  font-size: 1em;
  color: #FFFFFF;
  padding-right: 5px;
}

.navbar-default .navbar-nav .hover-link:hover {
  background-color: transparent !important;
}

.fa-caret-right, .fa-caret-down {
  padding-left: 5px;
  padding-top: 3px;
  color: #FFFFFF;
  font-size: 1em;
  text-shadow: 2px 1px 1px #00000080;
}


@media screen and (min-width: 1100px) {
  .my-right-nav-link {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 991px) {
  .current-page, .hover-link:hover {
    border-top: none;
  }

  .my-right-nav-link {
    font-size: 1em;
  }

  .navbar-default .navbar-nav .hover-link:hover {
    background-color: #6a6a6a !important;
  }

  .dropdown .dropdown-toggle{
    display: none;
  }

  .navbar-toggle {
    float: left;
  }

  .navbar-header .navbar-brand{
    position: absolute;
    left: 50%;
    margin-left: -120px;
    font-size: 2em;
  }
}

@media screen and (min-resolution: 2dppx) and (orientation: portrait) {
  .current-page, .hover-link:hover {
    border-top: 0 solid #FFFFFF;
  }

  .my-right-nav-link {
    font-size: 1em;
  }

  .navbar-default .navbar-nav .hover-link:hover {
    background-color: #6a6a6a !important;
  }
}