html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  margin: auto;
}

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
  margin-top: 25px;
  margin-bottom: 25px;
  background: linear-gradient(to left, #333333, #6a6a6a 25%, #333333 100%, #333333 25%);
  opacity: 0.9;
}

.sticky-footer {
  position: fixed;
  background: linear-gradient(to left, #333333, #6a6a6a 25%, #333333 100%, #333333 25%);  border-top: 5px solid #000000;
  bottom: 0;
  color: #FFFFFF;
  width: 100%;
  height: 36px;
  display: block;
}

.white-icon {
  color: #FFFFFF;
}

.white-icon:hover {
  color: #6a6a6a;
}

@media screen and (max-width: 991px) {
  body {
    overflow: visible;
    max-height: none;
  }
}

@media screen and (min-resolution: 2dppx) and (orientation: portrait) {
  body {
    overflow: visible;
    max-height: none;
  }
}